@font-face {
    font-family: 'Casino';  /* Nombre que usarás para la fuente */
    src: url('media/GrandCasinoDemo.otf') format('opentype'),
}

/*General styles*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Casino', sans-serif; 
}

body{
    background-image: url('media/background.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    font-size: 100px;
    color: #8B0000;
    text-shadow:
    2px 2px 0px #d8b800,  /* Borde superior izquierdo */
    -2px -2px 0px #d8b800, /* Borde inferior derecho */
    2px -2px 0px #d8b800,  /* Borde inferior izquierdo */
    -2px 2px 0px #d8b800;
}

#container{
    display: grid;
    grid-template-columns: 50% 50%;
}

/*Dice roller*/

.dice-container{
    display: grid;
    grid-template-columns: 50% 50%;
}

#container-dice-roller, #container-card-roller{
    width: 270px;
    height: 360px;
    background-color: #8B0000;
    border: 4px solid #d8b800;
    margin: 30px auto;
    border-radius: 30px;
    position: relative;
}

#container-dice-roller{
    margin-right: 100px;
}


.dice {
    width: 80px;
    height: 80px;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    background-color: white;
}

.dice-dot {
    --top: 0%;
    --left: 0%;

    width: 15px;
    height: 15px;
    background-color: #000;
    border-radius: 50%;

    /* Dot positioning */
    position: absolute;
    top: var(--top);
    left: var(--left);
    transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top)*-1));
}

#dice-inputs{
    width: 155px;
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    left: 55px;
}

/*Card roller*/

.card-container{
    position: relative;
    overflow: hidden;
    width: 177.5px;
    height: 237.5px;
    margin: 30px auto 0 auto;
}

#container-card-roller{
    margin-left: 100px;
}

.cards{
    --top: 0px;
    --left: 0px;
    image-rendering: pixelated;
    width: 177.5px;
    height: 237.5px;
    object-fit:none;
    transform: scale(2.5);
    transform-origin: 0px 0px;
    object-position: var(--left) var(--top);
    position: absolute;
    top: 0;
    left: 0;

}

#card_front{
    image-rendering: pixelated;
    width: 177.5px;
    height: 237.5px;
}

.btn-roll-card{
    display: block !important;
    margin: 20px auto 0 auto !important;
}

/*Inputs and button*/
select {
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #d8b800;
    border-radius: 16px;
    background-color: #d8b800;
    color: #8B0000;
    font-weight: bold;
    transition: border-color 0.3s ease, background-color 0.3s ease;
  }

  
  select option {
    background-color: #d8b800;
    color: #8B0000;
  }
  
  
  /* CSS */
  .button {
    appearance: button;
    background-color: #705f00;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #8B0000;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
    font-weight: bolder;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    white-space: nowrap;
    width: 100px;
  }
  
  .button:after {
    background-clip: padding-box;
    background-color: #d8b800;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
  }
  
  .button,
  .button:focus {
    user-select: auto;
  }
  
  .button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
  }
  
  .button:disabled {
    cursor: auto;
  }
  

  /*Dice border*/
  .pixel-corners,
  .pixel-corners--wrapper {
    clip-path: polygon(0px calc(100% - 15px),
      3px calc(100% - 15px),
      3px calc(100% - 9px),
      6px calc(100% - 9px),
      6px calc(100% - 6px),
      9px calc(100% - 6px),
      9px calc(100% - 3px),
      15px calc(100% - 3px),
      15px 100%,
      calc(100% - 15px) 100%,
      calc(100% - 15px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 15px),
      100% calc(100% - 15px),
      100% 15px,
      calc(100% - 3px) 15px,
      calc(100% - 3px) 9px,
      calc(100% - 6px) 9px,
      calc(100% - 6px) 6px,
      calc(100% - 9px) 6px,
      calc(100% - 9px) 3px,
      calc(100% - 15px) 3px,
      calc(100% - 15px) 0px,
      15px 0px,
      15px 3px,
      9px 3px,
      9px 6px,
      6px 6px,
      6px 9px,
      3px 9px,
      3px 15px,
      0px 15px);
    position: relative;
  }
  .pixel-corners {
    border: 3px solid transparent;
  }
  .pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
  }
  .pixel-corners--wrapper .pixel-corners {
    display: block;
    clip-path: polygon(3px 15px,
      6px 15px,
      6px 9px,
      9px 9px,
      9px 6px,
      15px 6px,
      15px 3px,
      calc(100% - 15px) 3px,
      calc(100% - 15px) 6px,
      calc(100% - 9px) 6px,
      calc(100% - 9px) 9px,
      calc(100% - 6px) 9px,
      calc(100% - 6px) 15px,
      calc(100% - 3px) 15px,
      calc(100% - 3px) calc(100% - 15px),
      calc(100% - 6px) calc(100% - 15px),
      calc(100% - 6px) calc(100% - 9px),
      calc(100% - 9px) calc(100% - 9px),
      calc(100% - 9px) calc(100% - 6px),
      calc(100% - 15px) calc(100% - 6px),
      calc(100% - 15px) calc(100% - 3px),
      15px calc(100% - 3px),
      15px calc(100% - 6px),
      9px calc(100% - 6px),
      9px calc(100% - 9px),
      6px calc(100% - 9px),
      6px calc(100% - 15px),
      3px calc(100% - 15px));
  }
  .pixel-corners::after,
  .pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 15px),
      3px calc(100% - 15px),
      3px calc(100% - 9px),
      6px calc(100% - 9px),
      6px calc(100% - 6px),
      9px calc(100% - 6px),
      9px calc(100% - 3px),
      15px calc(100% - 3px),
      15px 100%,
      calc(100% - 15px) 100%,
      calc(100% - 15px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 3px),
      calc(100% - 9px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 6px),
      calc(100% - 6px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 9px),
      calc(100% - 3px) calc(100% - 15px),
      100% calc(100% - 15px),
      100% 15px,
      calc(100% - 3px) 15px,
      calc(100% - 3px) 9px,
      calc(100% - 6px) 9px,
      calc(100% - 6px) 6px,
      calc(100% - 9px) 6px,
      calc(100% - 9px) 3px,
      calc(100% - 15px) 3px,
      calc(100% - 15px) 0px,
      15px 0px,
      15px 3px,
      9px 3px,
      9px 6px,
      6px 6px,
      6px 9px,
      3px 9px,
      3px 15px,
      0px 15px,
      0px 50%,
      3px 50%,
      3px 15px,
      6px 15px,
      6px 9px,
      9px 9px,
      9px 6px,
      15px 6px,
      15px 3px,
      calc(100% - 15px) 3px,
      calc(100% - 15px) 6px,
      calc(100% - 9px) 6px,
      calc(100% - 9px) 9px,
      calc(100% - 6px) 9px,
      calc(100% - 6px) 15px,
      calc(100% - 3px) 15px,
      calc(100% - 3px) calc(100% - 15px),
      calc(100% - 6px) calc(100% - 15px),
      calc(100% - 6px) calc(100% - 9px),
      calc(100% - 9px) calc(100% - 9px),
      calc(100% - 9px) calc(100% - 6px),
      calc(100% - 15px) calc(100% - 6px),
      calc(100% - 15px) calc(100% - 3px),
      15px calc(100% - 3px),
      15px calc(100% - 6px),
      9px calc(100% - 6px),
      9px calc(100% - 9px),
      6px calc(100% - 9px),
      6px calc(100% - 15px),
      3px calc(100% - 15px),
      3px 50%,
      0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    display: block;
    pointer-events: none;
  }
  .pixel-corners::after {
    margin: -3px;
  }